<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Tradewinz facilitates sharing of office space between Quickbooks small business owners. We help Quickbooks users with extra office space to make more $$$ by renting out their unused office space and equipments to other Quickbooks verified small business owners, who are looking to save money on office and equipment rentals.">

  <meta name="keywords" content="Tradewinz, Tradewinz office space, co-working, shared office, small business office, rent exchange share sublet sublease office desk chair computer internet phone printer"/>

  <meta name="author" content="Intuit Labs">

  <title>Make your office pay for itself</title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">

  <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css"> 

</head>

<body>

<div class="container-fluid">
   <div class="container" style="height: 60px; border-bottom: 1px solid #efefef;">
      <div class="span4 offset1">
        <a href="/home">    
          <%= image_tag("Logo_Labs_Horiz.jpg", alt: "Intuit Labs Logo", style: "width: 160px; margin-top:10px" ) %>            
        </a>
    </div>
  </div>

  <%= yield %>
  
  <div class="container-fluid">
    <div class="container">
      <div class="footer" style="background-color: #eeeeee;text-align:center;height:30px;padding-top:5px;">  
          <p>&copy; Intuit, Inc. All rights reserved
            <a href="http://security.intuit.com/privacy/">Privacy Policy</a>
          </p>
      </div>        
    </div>
  </div>

</div>

<!-- begin Google Analytics code -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39433943-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- end GA code -->

<!-- jQquery validation -->
<script type="text/javascript">
    $("#getEstimateBtn").click(
      function() {
        $("#new_rentestimate").validate({
            rules: {
                "rentestimate[location]": {required: true},
                "rentestimate[industry]": {required: true}
            },
            messages: {
                "rentestimate[location]": "Please enter the zipcode of your business",
                "rentestimate[industry]": "Please select an industry from the dropdown"
            },
            errorPlacement: function(error, element) {
                element.after(error);
                element.css('border', 'solid red 2px');
            }
        }
      );
        
      _gaq.push(['_trackEvent', 'GetEstimate', 'User clicked Get Estimate']);
    });

    $("#contactMeBtn").click(
      function() {
        _gaq.push(['_trackEvent', 'ContactMe', 'User clicked Contact Me']);
      }
    );

</script>


</body>


</html>
